# Project 1
<i>This project will analyze the flight puntuality status for Alaska and AM West airlines for west coast major cities.<i>

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

In [2]:
# read in the flights data from csv file and create a dataframe
flights = pd.read_csv('flights.csv', header=[0], index_col=[0,1])

# display the dataframe flights
flights.head()

                 Los Angeles  Phoenix  San Diego  San Francisco  Seattle
airline status
ALASKA  on_time          497      221        212            503     1841
        delayed           62       12         20            102      305
AM_WEST on_time          694     4840        383            320      201
        delayed          117      415         65            129       61

##  1. calculate the percentage of on-time flights of each airline flight for each city
<i>on_time flights / total flights * 100 = percentage of on_time<i>

In [3]:
# Step1: choose the on_time flights only for each city
on_time_flights_each_city = flights.xs('on_time',level='status')
on_time_flights_each_city.head()

         Los Angeles  Phoenix  San Diego  San Francisco  Seattle
airline
ALASKA           497      221        212            503     1841
AM_WEST          694     4840        383            320      201

In [4]:
# Step2: calculate the total flights of each airline for each city
total_flights_each_city = flights.groupby('airline').sum()
total_flights_each_city.head()

         Los Angeles  Phoenix  San Diego  San Francisco  Seattle
airline
ALASKA           559      233        232            605     2146
AM_WEST          811     5255        448            449      262

In [5]:
# Step3: calculate and display the percentage of on-time flights of each airline flight for each city
on_time_percentage_each_city = on_time_flights_each_city/total_flights_each_city
on_time_percentage_each_city = on_time_percentage_each_city.map(lambda x: "{0:.2f}%".format(x*100))
on_time_percentage_each_city.style.set_table_attributes("style='display:inline'").set_caption('On-Time Flights Percentage for Each City')

In [6]:
# Step4: creating a new dataframe to display which airline has greater on-time rate for each city
on_time_max_airline = on_time_percentage_each_city.idxmax()
on_time_max_percentage = on_time_percentage_each_city.max()

print("For each city, the airlines with greater on-time percentages are:")
on_time = pd.DataFrame({'max percentage': on_time_max_percentage, 'airline': on_time_max_airline})
on_time.head()

For each city, the airlines with greater on-time percentages are:

              max percentage airline
Los Angeles           88.91%  ALASKA
Phoenix               94.85%  ALASKA
San Diego             91.38%  ALASKA
San Francisco         83.14%  ALASKA
Seattle               85.79%  ALASKA

From the above data, we recommend to choose ALASKA airline for these cities to avoid being delayed if the passenger has tight travel schedule.

In [7]:
##  2. Calculate the total percentage of on-time flights for each airline for all city

In [8]:
# Step1: find the total on-time flights for each airline
on_time_flights_each_city.head()
on_time_flights_each_airline = on_time_flights_each_city.sum(axis=1)
on_time_flights_each_airline.head()

airline
ALASKA     3274
AM_WEST    6438
dtype: int64

In [9]:
# Step2: find the total flights for each airline
total_flights_each_airline = flights.groupby('airline').sum().sum(axis=1)
total_flights_each_airline.head()

airline
ALASKA     3775
AM_WEST    7225
dtype: int64

In [10]:
# Step3: calculate the percentage of total on-time for each airline
on_time_percentage_total = on_time_flights_each_airline/ total_flights_each_airline
on_time_percentage_total = on_time_percentage_total.map(lambda x: "{0:.2f}%".format(x*100))
on_time_percentage_total.head()

airline
ALASKA     86.73%
AM_WEST    89.11%
dtype: object

In [11]:
print("For each airline, the total flights on-time percentages are:")
on_time_percentage_total.to_frame('On-Time Percentage')

For each airline, the total flights on-time percentages are:

        On-Time Percentage
airline
ALASKA              86.73%
AM_WEST             89.11%

If not looking at the cities, the airline with the greater total on-time percentage is AM_West.